name: CI

on:
  push:
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get install ninja-build clang cmake -y

      - name: Configure
        run: cmake --preset default

      - name: Build
        run: cmake --build --preset build

      - name: Run tests
        run: ctest --preset test --output-on-failure
